.sign-up-padding-top{
   padding-top: 40px;
}

.sign-up-margin-bottom{
  margin-bottom: 40px;
}

.sign-up-button{
  text-align: center;
  padding-top: 20px;
}

.sign-up-button-size{
  padding-left: 20px;
  padding-right: 20px;
}
