<div class="d-inline-flex h-25" *ngIf="loaded">
  <div *ngIf="currentUser == undefined">
    <span class="alert-warning"> No info about user is available </span>
  </div>

  <div *ngIf="currentUser != null" class="d-inline-flex p-1">
    <ul class="list-group">
      <li class="list-group-item-info"><span>Booked By:</span></li>
      <li class="list-group-item"><span><strong>Name:</strong>{{currentUser.firstname}}</span></li>
      <li class="list-group-item"><span><strong>Surname:</strong> {{currentUser.lastname}}</span></li>
    </ul>

      <ul class="list-group">
        <li class="list-group-item-info"><span>Contacts:</span></li>
        <li class="list-group-item"><span><strong>Phone:</strong> +380{{currentUser.phone}}</span></li>
        <li class="list-group-item"><span><strong>E-Mail:</strong> {{currentUser.email}}</span></li>
      </ul>
    </div>
  </div>

