<form [formGroup]="form" (ngSubmit)="submit(form)">
  <mat-dialog-content>
    <h5 mat-dialog-title>{{this.data.dialogTitle}}</h5>
  
    <mat-form-field *ngIf="this.data.isUpdated" class ="d-inline">
      <input  matInput
              readonly
              formControlName="id"
              placeholder="Id">
    </mat-form-field>
  
    <mat-form-field class="d-inline">
      <input  matInput
              required
              type="number"
              formControlName="number"
              placeholder="Number">
    </mat-form-field>

    <div *ngIf="form.controls['number'].hasError('min')" class="text-danger">
      Minimum sector's number must be greater than 0!
    </div>

    <mat-form-field class="d-inline">
      <textarea matInput
                required
                formControlName="description"
                placeholder="Description">
      </textarea>
    </mat-form-field>
  
    <div *ngIf="form.controls['description'].hasError('maxlength')" class="text-danger">
      Maximum sector's description length must be less than 512 symbols!
    </div>
  
    <mat-form-field class="d-inline">
      <input  matInput
              required
              type="number"
              formControlName="gpsLat"
              placeholder="GpsLat">
    </mat-form-field>
  
    <div *ngIf="form.controls['gpsLat'].hasError('max') || form.controls['gpsLat'].hasError('min')" class="text-danger">
      The valid range of latitude in degrees is -90 and +90 for the southern and northern hemisphere respectively!
    </div>

    <mat-form-field class="d-inline">
      <input  matInput
              required
              type="number"
              formControlName="gpsLng"
              placeholder="GpsLng">
    </mat-form-field>

    <div *ngIf="form.controls['gpsLng'].hasError('max') || form.controls['gpsLng'].hasError('min')" class="text-danger">
      The valid range of longitude in degrees is -180 and +180 specifying coordinates west and east of the Prime Meridian respectively!
    </div>

    <mat-form-field class="d-inline">
      <mat-label>Sector activation</mat-label>
      <mat-select matinput
                  required  
                  formControlName="isActive">
        <mat-option [value]="'true'">Active</mat-option>
        <mat-option [value]="'null'">Unactive</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  
  <mat-dialog-actions align="center">
    <button mat-button tabindex="1" type="submit" [disabled]="!form.valid">Save</button>
    <button mat-button mat-dialog-close tabindex="-1 "type="button">Cancel</button>
  </mat-dialog-actions>
</form>
    
