<div class="alert alert-info my-3" role="alert">
  <i class="material-icons align-middle">info</i>
  <i class="align-middle pl-2">Select tournament to see free sectors</i>
</div>

<div>
  <label class="label label-info">Tournament:</label>
  <div>
    <form class="">
      <mat-select placeholder="Select tournament"  (selectionChange)="onChange($event)">
        <mat-option [value]=null>--None--</mat-option>
        <mat-option (click)="openAddDialog()" [value]=null>New...</mat-option>
        <mat-option *ngFor="let tournament of this.tournaments" [value]="tournament">
          {{tournament.name}}
        </mat-option>
      </mat-select>
    </form>
  </div>
</div>

<div>
  <label class="label label-info">Period:</label>
    <div class="input-group-prepend">
      <span class="input-group-text bg-light border border-dark">
          <i class="material-icons">calendar_today</i>
      </span>
      <input type="text"
             [(ngModel)]="selected"
             readonly
             class="form-control border border-dark ml-1"
             style="width: 205px;"
             placeholder="yyyy-mm-dd"
>
    </div>
</div>
