.editor-tag {
  cursor: text;
  
    & .tag-item {
    line-height: 25px;
    border-radius: 3px;
    height: 25px;
    font-size: 20px;
    display: inline-block;
    background: rgb(23, 162, 184);
    padding-left: 5px;
    color: white;

    .remove-tag {
      padding-right: 5px;
      cursor: pointer;
    }
  }
  
.remove-tag:hover{
  color: red;
}
  & .tag-item:not(:first-child) {
    margin-left: 5px;
  }

  & input {
    margin: 0;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}