.btn-icon
  background: transparent
  border: none
.btn-icon:hover
  border: blue
  background: #dfe9fc
.cancelButton
  background-color: white
  margin-left: 5px
  border-color: #1aa3ff
  color:#1aa3f0
