<div class="card border-primary mb-3">
    <div class="card-header text-white bg-primary mb-3">Booking sectors</div>
    <div class="card-body">
        <form class="p-3 mb-2 bg-light text-dark border border-primary rounded-lg"> 
            <div class="form-group">
                <label for="tagPlaces">Selected sectors</label>
                <div class="form-row ">
                    <div class="col-4">
                        <input readonly type="text" class="form-control" value="{{sectorNumber}}" data-role="tagsin  put" id="tagPlaces" required>
                    </div>
                    <div class="col-1">
                        <i class="material-icons btn btn-outline-danger" title="clear selected sectors" (click)="clearSelectedSectors()">clear</i>
                    </div>
                </div>  
            </div> 
            <div class="form-row">
                <div class="col">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                </div>
                <div class="col">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                </div>
                <div class="col">
                    <label for="phone">Phone</label>
                    <input class="form-control" type="tel" id="phone" placeholder="+380-93-000-00-00" required>
                </div>
            </div>    
            <div class="form-row">
                <div class="col-4 mt-5">
                    <button class="btn btn-primary btn-block" type="submit">Book</button>
                </div> 
            </div>   
        </form>
    </div>
</div>
