<div class="card border-primary mb-3">
    <div class="card-header text-white bg-primary mb-3">Booking sectors</div>
    <div class="card-body">
        <form [formGroup]="bookingSectorForm" (ngSubmit)="onSubmit(bookingSectorForm.value)"class="p-3 mb-2 bg-light text-dark border border-primary rounded-lg">
            <div class="form-group">
                <label for="tagPlaces">Selected sectors</label>
                <div class="form-row ">
                    <div class="col">
                        <app-sectors-tags-input></app-sectors-tags-input>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light border border-dark">
                                    <i class="material-icons">calendar_today</i>
                                </span>
                            </div>
                            <input type="datetime" 
                            class="form-control border border-dark"
                            name="" 
                            id="" 
                            value="{{dataService.fromDate}} - {{dataService.toDate}}"
                            readonly>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div *ngIf="!isLoggedIn">
                <div class="form-row">
                    <div class="col">
                        <label for="firstName">First name</label>
                        <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    </div>
                    <div class="col">
                        <label for="lastName">Last name</label>
                        <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="phone">Phone</label>
                        <input  type="tel" formControlName="login" class="form-control" 
                            [showMaskTyped]="true"
                            prefix="+38"
                            mask="(000)000-00-00"
                            required
                            id="phone">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="password">Password</label>
                        <input formControlName="password" class="form-control" type="password" id="password" required>
                    </div>
                </div>
            </div> 
            <div class="form-row">
                <div class="col-4 mt-5">
                    <button class="btn btn-primary btn-block" type="submit">Book</button>
                </div>
            </div>
        </form>
    </div>
</div>
