<form novalidate
      [formGroup]="form">
  <h5>Filter tournaments</h5>
  <div class="row">
<div>
      <input matInout type="text"
             formControlName="name"
             class="form-control"
             placeholder="Name"
      />
</div>
    <div>
      <input matInout type="text"
             formControlName="preparationTerm"
             class="form-control"
             placeholder="Preparation term"
      />
    </div>

    <div>

      <button
        class="input-group-text"
        mat-flat-button
        class="btn btn-primary float-right"
        (click)="search(form.value)"
      >
        Search
        <img [src]=imgSearch
             alt=" search"
             class="img-fluid "
             width="20px"
        />
      </button>

    </div>
  </div>

