<mat-dialog-content align="center">
  <h5 mat-dialog-title>Reset password</h5>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             required
             placeholder="Enter your old email"
             [(ngModel)]="email">
    </mat-form-field>
    <button class="btn btn-primary" 
            (click)=" resetPassword()">
            Send new password
    </button>
    <button class="btn btn-primary cancelButton" 
            (click)="cancel()"> 
            Cancel
    </button>
  </div>
</mat-dialog-content>
    
    