input[type="file"] {
    display: none;
}
.profile-avatar{
    height: 160px;
    border-radius: 15px;
    margin-bottom: 4px;
}
.custom-file-upload {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    display: block;
    padding-top: 2%;
    transition: all 0.18s ease-in-out;
    border: 1px solid #007bff;
    background: white;
    color: #007bff;
}
.custom-file-upload:hover {
    color: white;
    background: #007bff;
    background-position: bottom left;
}
.btn-icon{
  background: transparent;
  border: none;
  margin-top: -35px;}
.btn-icon:hover{
  border: blue;
  background: #dfe9fc;
}