  input[type="file"] {
    display: none;
}
.profile-avatar{
height: 160px;
border-radius: 15px;}


.custom-file-upload {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    display: block;
    font: 16px/40px Tahoma;
    transition: all 0.18s ease-in-out;
    border: 1px solid #1aa3ff;
    background: white;
    color: #1aa3ff;
}

.custom-file-upload:hover {
    color: white;
    background: #1aa3ff;
    background-position: bottom left;
}
.delete-photo {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    display: block;
    font: 16px/40px Tahoma;
    transition: all 0.18s ease-in-out;
    border: 1px solid #c91f3b;
    background: white;
    color: #c91f3b;
}
.delete-photo:hover {
    color: white;
    background: #c91f3b;
    background-position: bottom left;
}
    