input[type="file"] {
    display: none;
}
.profile-avatar{
    border-radius: 15px;
    margin-bottom: 4px;
    width:150px;
}
.btn{
  width: 150px;
}
.close{
  color: grey;
  margin-left: 120px;
  margin-bottom: -35px;
}
