<form> 
    <div class="bootstrap-tagsinput">
        <label>Selected sectors</label>
        <input class="form-control" type="text" id="sectors">
    </div>  
    <div class="form-group">
        <div id="fullname-field">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">Phone</label>
        <input class="form-control" type="tel" id="phone" placeholder="+380-93-000-00-00" >
    </div>
    <div class="form-group">
        <button id = "btn-booking" class="btn btn-primary btn-block" type="submit">Submit</button>
    </div>   
</form>
