<div class="input-group">
  <div class="input-group-prepend">
      <span class="input-group-text bg-light border border-dark">
          <i class="material-icons">calendar_today</i>
      </span>
      <input type="text"
      ngxDaterangepickerMd
      [(ngModel)]="selected"
      [alwaysShowCalendars]="alwaysShowCalendars"
      [showClearButton]="true"                   
      [maxDate]="maxDate"
      [minDate]="minDate"
      [linkedCalendars]="true"
      [locale]="{applyLabel: 'Change', format: 'YYYY-MM-DD'}"
      (rangeClicked)="rangeClicked($event)"
      (datesUpdated)="datesUpdated($event)"
      [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
      [showRangeLabelOnInput]="showRangeLabelOnInput"
      class="form-control border border-dark ml-1"
      style="width: 205px;"
      placeholder="yyyy-mm-dd"
      [dateLimit]="4">                           
  </div>
</div>   



      

