<mat-sidenav-container class="sidebarContainer">
  <mat-sidenav #sidenav mode="side" class="sidebar" [(opened)]="opened" position="end">
    <app-filter (groupFilters)="filters = $event" ></app-filter>
  </mat-sidenav>

  <mat-sidenav-content >
    <div class = "d-flex p-1 justify-content-center ">
      <h1 >Tournaments</h1>
      <button mat-button class = "p-2 ml-auto " (click)="sidenav.toggle()">Advanced filter</button>
    </div>
    <hr/>
    <app-global-search [(searchText)]="searchText"></app-global-search>
        <app-tournament-table [groupFilters]="filters" [searchText] ="searchText"> </app-tournament-table>
  </mat-sidenav-content>
</mat-sidenav-container>
