<div class="row d-flex justify-content-center">
  <div *ngFor="let setting of setting$">
      <form class="align-content-center range-field text-center my-4 m-4">
      <label class="h4" [for]="setting.name">{{setting.name}}</label>
            <input type="range" class="custom-range" min="1" max="5" [name]="setting.value" [(ngModel)]="setting.value" [id]="setting.name">
          <span class="font-weight-bold mr-2 mt-1">{{setting.value}}</span>
        <hr>
      </form>
    </div>
  <button type="submit" class="btn btn-info btn-block mt-2 w-75" (click)="saveChanges()">Submit</button>
 </div>
