<nav class="navbar navbar-dark navbar-expand-lg bg-white home-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="home">TridentLake</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" routerLink="/home">Home</a>
                </li>
                <li *ngIf="isLoggedIn && isUser" class="nav-item" role="presentation">
                    <a class="nav-link active" routerLink="/profile">Profile</a>
                </li>
                <li *ngIf="isLoggedIn && isAdmin" class="nav-item" role="presentation">
                    <a class="nav-link active" routerLink="/admin">Admin Management</a>
                </li>
                <li *ngIf="isLoggedOut" class="nav-item" role="presentation">
                    <a class="nav-link active" routerLink="/sign-in">Sign in</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item" role="presentation">
                    <a class="nav-link active" routerLink="/sign-in" (click)="logout()">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
