<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Booking</title>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white home-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Booking</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="sing in.html">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="home-block block-intro">
                <div class="heading">
                    <h2>Select Date</h2>
                    <ngbd-datepicker-range-popup></ngbd-datepicker-range-popup>
                </div>
                <div>
                    <agm-map [latitude]='latitude' [longitude]='longitude' [zoom]="14" [mapTypeId]='mapType'>
                        <agm-marker *ngFor="let marker of markers" 
                        [latitude]="marker.gpsLat" 
                        [longitude]="marker.gpsLng" 
                        [label]="{color: 'white', fontWeight: 'bold', fontSize: '12px',  text: marker.number.toString()}"
                        [iconUrl]="{url: (marker.isActive == true) ? '../assets/img/greenFish.png' : (marker.isActive == false) ? '../assets/img/redFish.png' : '../assets/img/greyFish.png', labelOrigin: { x: 27, y: 31 }, scaledSize: { width: 55, height: 55 }}"
                        
                        >
                            <agm-info-window [disableAutoPan]="true">
                                <div class="container">
                                    <h3>Sector name: {{marker.number}}</h3>
                                        <p> Description: {{marker.description}} <br/>
                                        GPS: {{marker.gpsLat}}, {{marker.gpsLng}} <br/>
                                        Status: {{marker.isActive}}
                                        </p>
                                        <p>
                                        <button class="btn btn-primary btn-block" type="submit">Book sector</button>
                                    </p>
                                </div>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
        </section>
    </main>
    <section class="home-block website gradient">
        <div class="container">
            <form>
                <div class="form-group"><label for="sectors">Selected sectors</label><input class="form-control" type="text" id="sectors"></div>
                <div class="form-group"><label for="datetimes">Daterange</label><ngbd-datepicker-popup></ngbd-datepicker-popup></div>
                <div class="form-group"><label for="password">Name and Surname</label><input class="form-control" type="text"></div>
                <div class="form-group"><label for="phone">Phone</label><input class="form-control" type="tel" id="phone" placeholder="+380-93-000-00-00" ></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
            </form>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About</a><a href="#">Contact</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
</body>
</html>


