h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  .bg-light-blue {
    background-color: rgb(17, 225, 240) !important;
  }

  .bg-red {
    background-color: rgb(240, 17, 28) !important;
  }