<nav class="text-center">
  <ul class="pagination pagination-lg">
    <li class="page-item" (click)="getNew()"><span class="page-link">New Bookings</span></li>
    <li class="page-item" (click)="getApproved()"><span class="page-link" >Approved Bookings</span></li>
    <li class="page-item" (click)="getDeclined()"><span class="page-link" >Declined Bookings</span></li>
    <li class="page-item" (click)="getAll()"><span class="page-link" >History</span></li>
  </ul>
</nav>

<table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover" class ="table table-striped">
  <thead class="thead-dark" [contentEditable]="false">
  <tr>
    <th>ID</th>
    <th>Booked Sectors</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngIf="this.tempBookings?.length != 0"  [contentEditable]="false">
  <tr *ngFor="let booking of this.tempBookings">
    <td>{{booking.id}}</td>
    <td>{{booking.sectorId}}</td>
    <td>{{booking.bookingStart | date}}</td>
    <td>{{booking.bookingEnd | date}}</td>
    <td>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">
          <span>Approve</span>
        </button>
        <button type="button" class="btn btn-info">
          <span>Decline</span>
        </button>
      </div>
    </td>

  </tr>
  </tbody>

  <tbody *ngIf="this.tempBookings?.length == 0">
  <tr class="text-center">
    <td colspan="5" class="no-data-available">No data!</td>
  </tr>
  <tbody>

</table>
