<button mat-raised-button (click)="getByCondition(null, false)">New</button>
<button mat-raised-button (click)="getByCondition(true, false)">Approved</button>
<button mat-raised-button (click)="getByCondition(false, false)"> Declined </button>
<button mat-raised-button (click)="getByCondition(true, true)">History</button>

<mat-form-field style="width: 100%">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>


<div class="mat-elevation-z8">
<table mat-table matSort [dataSource]="dataSource" style="width: 100%">

  <ng-container matColumnDef='id'>
    <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let booking"> {{booking.id}} </td>
  </ng-container>
  <ng-container matColumnDef="sectorId">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Sectors </th>
    <td class="sectors-cell" mat-cell *matCellDef="let booking"> {{booking.sectorId}} </td>
  </ng-container>
  <ng-container matColumnDef="startDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Start Date </th>
    <td class="sectors-cell" mat-cell *matCellDef="let booking"> {{booking.bookingStart | date}} </td>
  </ng-container>
  <ng-container matColumnDef="endDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> End Date </th>
    <td class="sectors-cell" mat-cell *matCellDef="let booking"> {{booking.bookingEnd | date}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="sectors-cell" mat-cell *matCellDef="let booking">
      <ng-container *ngIf="this.isApproved===null && this.isExpired === false">
        <button mat-button (click)="updateBooking(booking, true)">Approve</button>
        <button mat-button (click)="updateBooking(booking, felse)")>Decline</button>
      </ng-container>
      <ng-container *ngIf="this.isApproved === true && this.isExpired === false">
        <button mat-button (click)="approveBooking(booking, null)">Discard</button>
        <button mat-button (click)="deleteBooking(booking)">Delete</button>
      </ng-container>
      <ng-container *ngIf="this.isApproved === false && this.isExpired === false">
        <button mat-button (click)="approveBooking(booking, null)">Discard</button>
        <button mat-button (click)="deleteBooking(booking)">Delete</button>
      </ng-container>
      <ng-container *ngIf="this.isExpired === true">
        <button mat-button (click)="deleteBooking(booking)">Delete</button>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
  <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>

