<div mat-dialog-title >
  <span> {{this.data.dialogTitle}}</span>
  <span class="fx-spacer"></span>
  <button mat-icon-button  mat-dialog-close class="float-right">
    <mat-icon mat-list-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content align="center">
  Are you sure?
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button class="btn-primary" tabindex="1" type="submit" (click)="submit()">Yes</button>
  <button mat-button mat-dialog-close tabindex="-1"type="button" >No</button>
</mat-dialog-actions>

