<main class="page hire-me-page">
  <section class="home-block hire-me">
    <div class="container">
      <div class="heading">
        <h2>sign in</h2>
      </div>
      <form>
        <div class="form-group"><label for="phone">Phone</label><input class="form-control" type="tel" id="phone" placeholder="+380-93-111-11-11"></div>
        <div class="form-group"><label for="password">Password</label><input class="form-control" type="password" id="password"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign in</button></div>
        <div class="sign-up-style">Don't have an account?  <a routerLink='/sign-up' >Sign Up</a></div>
        <div class="sign-up-style"><a routerLink="/sign-up">Forgot your password?</a></div>
      </form>
    </div>
  </section>
</main>
