      <div class="card border-primary mb-3" style="margin-top: 40px;">
        <div class="card-header text-white bg-primary">Date settings</div>
        <div class="card-body">
          <div *ngIf="isAdmin">
            <span> Booking for:</span>
            <mat-radio-group [(ngModel)]="selection" #radioGroup="matRadioGroup">
              <mat-radio-button class="mx-3" value="user">User</mat-radio-button>
              <mat-radio-button value="tournament">Tournament</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="radioGroup.value === 'user'">
              <app-for-user></app-for-user>
            </div>
            <div *ngIf="radioGroup.value === 'tournament'">
              <app-for-tournament></app-for-tournament>
            </div>
          </div>
          <div *ngIf="isUser || isLoggedOut">
            <app-for-user></app-for-user>
          </div>
        </div>
      </div>



