<div class="jumbotron">
    <div class="row justify-content-center">
        <div class="col s6">
            <div class="card border-info mb-3">
                <div class="card-header text-white bg-info mb-3">Search by period</div>
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        <i class="material-icons align-middle">info</i>
                        <i class="align-middle pl-2">Enter date to see free sectors</i>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="label label-info">Period:</label>
                            <app-booking-datepicker></app-booking-datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>