<ng-container *ngIf="this.isApproved === null && this.isExpired === false">
  <div>
    <button type="button" class="btn btn-icon" (click)="updateBooking( true)">
      <img src={{imgApprove}} alt="approve" class="img-fluid" width="20px">
    </button>
    <button type="button" class="btn btn-icon" (click)="updateBooking( false)">
      <img src={{imgDecline}} alt="decline" width="20px">
    </button>
  </div>
</ng-container>

<ng-container *ngIf="this.isApproved === true && this.isExpired === false">
  <div class="align-items-center" role="group">
    <button type="button" class="btn btn-icon" (click)="updateBooking(null)">
      <img src={{imgDiscard}} alt="delete" class="img-fluid" width="20px">
    </button>
    <button type="button" class="btn btn-icon" (click)="deleteBooking()">
      <img src={{imgDelete}} alt="delete" class="img-fluid" width="20px">
    </button>
  </div>

</ng-container>
<ng-container *ngIf="this.isApproved === false && this.isExpired === false">
  <div class="align-items-center" role="group">
    <button type="button" class="btn btn-icon" (click)="updateBooking(null)">
      <img src={{imgDiscard}} alt="delete" class="img-fluid" width="20px">
    </button>
    <button type="button" class="btn btn-icon" (click)="deleteBooking()">
      <img src={{imgDelete}} alt="delete" class="img-fluid" width="20px">
    </button>
  </div>
</ng-container>

<ng-container *ngIf="this.isExpired === true">
  <button type="button" class="btn btn-light" (click)="deleteBooking()">
    <img src={{imgDelete}} alt="delete" class="img-fluid" width="20px">
  </button>
</ng-container>
