<div class="p-4 container w-75">
  <h1>Tournament sheduler</h1>


<app-without-datas *ngIf="dataSource.data.length === 0" [withoutDatasText]="withoutDatasText" ></app-without-datas>

<div *ngIf="dataSource.data.length!==0">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100 btn-table">
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let tournament">
          <app-details-btn (selectedToExpand)="openDetailsDialog(tournament.id)"></app-details-btn>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-sort-header arrowPosition="before" class = "w-50" *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let tournament"> {{tournament.name}} </td>
    </ng-container>


    <ng-container matColumnDef="tournamentStart">
      <th mat-sort-header arrowPosition="before" *matHeaderCellDef> Start</th>
      <td mat-cell  *matCellDef="let tournament"> {{tournament.tournamentStart| date }} </td>
    </ng-container>

    <ng-container matColumnDef="tournamentEnd">
      <th mat-sort-header arrowPosition="before" *matHeaderCellDef> End</th>
      <td mat-cell *matCellDef="let tournament"> {{tournament.tournamentEnd| date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tournamentHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: tournamentHeader;  let i=index;" (click) ="getSelectedRow(i)" [class.active]="isSelected(i)"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
</div>
