<br>

<div class="form-group row">
    <ul class="nav nav-pills flex-column col-md-2">
        <li class="nav-item active">
          <a class="nav-link active" data-toggle="tab" href="#prof" (click)="profile()">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#book" (click)="bookings()">Bookings</a>
        </li>
      </ul>

    <div class="tab-content col-md-9">
        <app-user-bookings class="tab-pane fade"
                           id="book"
                           *ngIf=isBookings ></app-user-bookings>
        <div class="tab-pane active in form-group d-flex flex-row"
             id="prof"
             *ngIf=isProfile> 
            <app-photo class="form-group col-md-5 flex-row"></app-photo>
            <app-user-profile-text class="form-group col-md-7 flex-row"></app-user-profile-text>
        </div>
    </div>
</div>
