    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover" class ="table table-striped">
        <thead class="thead-dark" [contentEditable]="false">
            <tr class="text-center text-uppercase">
                <th>ID</th>
                <th>Description</th>
                <th>GPS Lat</th>
                <th>GPS Lng</th>
                <th>Active</th>
              </tr>
        </thead>
     <tbody *ngIf="this.sectors$?.length != 0"  [contentEditable]="false">
          <tr *ngFor="let sector of sectors$">
            <td>{{sector.id}}</td>
            <td>{{sector.description}}</td>
            <td>{{sector.gpsLat}}</td>
            <td>{{sector.gpsLng}}</td>
            <td class="text-center"><input type="checkbox" [(ngModel)]="sector.isActive" (change)="changeSectorActivity(sector)"></td>
          </tr>
        </tbody>
      <tbody *ngIf="this.sectors$?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
      <tbody>
      </table>
