<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SPA">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" stopProcessing="true">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>

        <defaultDocument enabled="true">
      <files>
      
        <add value="index.html" />
      </files>
    </defaultDocument>
    <system.web><customErrors mode="off" /> </system.web>
    <httpErrors errorMode-"Detailed"><httpErrors>
    </system.webServer>
</configuration>