<configuration>
    <system.webServer>
       <directoryBrowse enabled="true" /> 
         <staticcontent>
            <remove fileextension=".woff">
            <mimemap fileextension=".woff2" mimetype="application/font-woff2">
            <mimemap fileextension=".woff" mimetype="application/x-font-woff">
        </mimemap></mimemap></remove></staticcontent>
            <rewrite>
            <rules>
             <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="SPA">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" stopProcessing="true">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
            </rewrite>
    </system.webServer>
</configuration>