
<app-without-datas *ngIf="dataSource === undefined" [withoutDatasText]="'No data!'"></app-without-datas>

<div class="mat-elevation-z8" *ngIf="dataSource !== null">
  <table mat-table matSort [dataSource]="dataSource" style="width: 100%">

    <ng-container matColumnDef='id'>
      <th mat-header-cell mat-sort-header arrowPosition="before" *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let booking"> {{booking.id}} </td>
    </ng-container>
    <ng-container matColumnDef="sectorId">
      <th mat-header-cell mat-sort-header arrowPosition="before" *matHeaderCellDef> Sectors </th>
      <td class="sectors-cell" mat-cell *matCellDef="let booking"> {{booking.sectorId}} </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell mat-sort-header arrowPosition="before" *matHeaderCellDef> Start Date </th>
      <td class="sectors-cell" mat-cell *matCellDef="let booking"> {{booking.bookingStart | date}} </td>
    </ng-container>
    <ng-container matColumnDef="endDate">
      <th mat-header-cell mat-sort-header arrowPosition="before" *matHeaderCellDef> End Date </th>
      <td class="sectors-cell" mat-cell *matCellDef="let booking"> {{booking.bookingEnd | date}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th style="width: 10%" mat-header-cell arrowPosition="before" *matHeaderCellDef></th>
      <td class="sectors-cell" mat-cell *matCellDef="let booking">
        <app-booking-actions (bookingAction)="updateDataSource()" [booking]="booking"></app-booking-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>
