<table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover" class ="table table-striped">
  <thead class="thead-dark" [contentEditable]="false">
  <tr>
    <th>ID</th>
    <th>Booked Sectors</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngIf="this.tempBookings?.length != 0"  [contentEditable]="false">
  </tbody>

  <tbody *ngIf="this.tempBookings?.length == 0">
  <tr class="text-center">
    <td colspan="5" class="no-data-available">No data!</td>
  </tr>
  <tbody>

</table>
