
<table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
       class ="col-md-6" class="row-border hover" class ="table">
  <thead class="thead-dark" >
  <tr>
    <th>
      <button
        type="button"
        class="input-group-text"
        id ="tournament.id"
        class="justify-content-center"
        (click)="changeItem($event)"
      >
        <img src={{imgAdd}}
             alt="update"
             class="img-fluid "
             width="30px"
        />
        add
      </button>

    </th>
    <th *ngFor="let h of tourHeaders">
      {{h}}
    </th>
  </tr>
  </thead>
  <tbody *ngIf="this.filteredTours?.length > 0" >
  <tr *ngFor="let tournament of this.filteredTours | filter: searchByKeyword: 'name'; let i = index"
      (selected)="changeItem($event)"
      (dblclick)="getSelectedRow(i)" (click)="getSelectedRow(i)" (selected)="getSelectedRow(i)" [class.active]="isSelected(i)"
      app-tournament-table-row
      [tournament] = "tournament"
      [headers] = "tourHeaders">
  </tr>
  </tbody>

  <tbody *ngIf="this.filteredTours?.length == 0">
  <tr>
    <td colspan="5" class="justify-content-center" class="no-data-available" >No matching records found!</td>
  </tr>
  <tbody>

</table>



