.mat-header-cell
  background: #343a40
  color: white
  padding: 2%
  font-family: 'Arial'
  font-weight: bold
  font-size: medium

.mat-cell
  padding-top: 1%

tr:hover
  background-color: #dfe9fc

.active
  background: #bbd0f9!important

button
  background: transparent
  border: none
  color: white
  font-weight: bold



