<nav class="col-md-2 d-none d-md-block bg-light sidebar">
<div class="sidebar-sticky bg-light border-right">
  <ul class="nav flex-column">
    <li><a routerLink="bookings" class="nav-item nav-link">Bookings</a></li>
    <li><a routerLink="tournaments" class="nav-item nav-link">Tournaments</a></li>
    <li><a routerLink="settings" class="nav-item nav-link">Settings</a></li>
    <li><a routerLink="profile" class="nav-item nav-link">Profile</a></li>
    <li><a routerLink="sectors" class="nav-item nav-link">Sectors</a></li>
    <li><a routerLink="calendar" class="nav-item nav-link">Calendar</a></li>
  </ul>
</div>
</nav>
