
  <ul class="nav nav-tabs nav-justified shadow">
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="bookings" routerLinkActive="active">Bookings</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="tournaments" routerLinkActive="active">Tournaments</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="sectors" routerLinkActive="active">Sectors</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="settings" routerLinkActive="active">Settings</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="calendar" routerLinkActive="active">Calendar</a>
    </li>
  </ul>
